/node_modules
/public/hot
/public/storage
/public/upload
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

I have submitted a task on GitHub. Please review it and provide your feedback.


storage